<div class="typeahead-container">
    <div class="input-wrapper">
        <input type="text" class="typeahead-input" [formControl]="formControl" (focus)="onFocus()" (blur)="onBlur()"
            (keydown)="onKeydown($event)" autocomplete="off" placeholder="Search..." #inputRef />

        <ul class="dropdown" *ngIf="showDropdown && filteredOptions.length">
            <li *ngFor="let option of filteredOptions; let i = index" [class.active]="i === highlightedIndex"
                (mousedown)="selectOption(option)" #optionRef>
                {{ option }}
            </li>
        </ul>
    </div>
</div>